Ans1]   *= expression
      'hello'=value
      -87.8  = value
          -  = expression
          /  = expression
          +	 = expression
           6 = value

Ans2]   String: String can be written in quotes such.
       "shiva"  "data science".
      
 
 variable: is nothing but we can store a data just like a enclosed container.

Ans3]   List: the list is used for storing multiple data items in a single variable.


   Integer: integer can store only numerical values.


   Float: float can store only floating values such as 233.33, 22.2, etc.q3]

Ans4] Expression is made up of values, containers, and mathematical operators.
    example: 
        a = 10 + 13  and expressions are used to evaluate the values or represent the result on screen.

Ans5] Expression is made up of values, containers, and mathematical operators. 
    
   The statement is just like a command that a python interpreter executes like print.

Ans6]

In [2]:
bacon=22

In [3]:
bacon+1

23

Ans7]

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

Ans8] because we can't start giving variable an integer name. if we, we should begin with, a string-like alphabet name then integer. e100 or eggs100 is valid.

ans9] str(), int(), float().

ans10] because 99 is an integer it cannot be concatenated with strings, if we have to concatenate it we need to do typecasting.